@import './../../../global-style/basics/media-queries.pcss';
@import './../../../global-style/basics/links.pcss';
@import './../../../global-style/basics/typography.pcss';
@import './../../../global-style/keyframes/fadeIn.pcss';

:host {
  display: block;
  overflow: auto;
}