<section class="Welcome">
  <img class="CANLogo" draggable="false" src="assets/AnimatedSkeleton.svg" alt="">
  <h1 class="Title">CrowdAboutNow lening calculator.</h1>
  <p>
    Bereken hier terugbetalingen aan de hand van verschillende lening variabelen
  </p>

  <can-button on-click="startTour">Take a tour</can-button>
</section>

<dom-if if=[[updateReady]]>
  <template>
    <can-button on-click="reload" class="UpdateReadyAlert">Update ready, reload!</can-button>
  </template>
</dom-if>

<aside class="Meta">
  v[[appVersion]] - ENV: [[ENV]]
</aside>


